.hello{
    background-color: yellowgreen;
}

.header{
    text-align: center;
    background-color: papayawhip;
    padding: 5px;
}
.part{
    border: 2px solid brown;
    padding: 15px;
}

.count-btn{
    padding: 6px;
    margin-right:15px;
}

.employee{
    width: 60vw;
    margin: 0px;
    margin-left: 20vw;
    margin-top: 3px;
    padding: 12px;
    border: 2px solid rgb(65, 63, 63);
    border-radius: 8px;
}